/*Pour éviter les marges*/
*{
   margin:0;
}
/*import de la font Mersad*/
@font-face {
 font-family: "Mersad";
 src: url("C:/Windows/Fonts/Mersad.otf") format("otf"),
}
body{
    background-color:#656565;
}
form{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
/* --------------- GRIDS --------------- */
  .parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color:#656565;
  }
/*DIV HEADER*/
  .div1 {
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:row;
    grid-area: 1 / 1 / 2 / 6;
    background-color: #403F3F;
  }
/*DIV TITRE*/
  .div2 {
    display:flex;
    align-items:center;
    justify-content:center;
    grid-area: 2 / 1 / 3 / 6;
  }
/*DIV TALEAU*/
  .div3 {
    padding-bottom:2%;
    grid-area: 3 / 1 / 7 / 6;
  }
/*DIV QUESTION*/
  .div4 {
    display:flex;
    justify-content:center;
    align-items:center;
    grid-area: 7 / 1 / 8 / 6;
  }
/*DIV BOUTONS REPONSES*/
  .div5 {
    display:flex;
    justify-content:center;
    align-items:center;
    grid-area: 8 / 1 / 9 / 6;
  }
/*DIV BOUTON VALIDATION*/
  .div6 {
    display:flex;
    justify-content:center;
    align-items:center;
   grid-area: 9 / 1 / 10 / 6;
  }
/* --------------- FIN DES GRIDS --------------- */

/* --------------- HEADER --------------- */

  /*TitreHeader*/
  .titreNav{
    display:flex;
    justify-content:center;
    color:white;
    font-family:Mersad;
  }
  /*LogoHeader*/
  .logoNav{
    width:8%;
    justify-content: flex-start;
    margin-left:5%;
  }
  /*ButtonHeader*/

  .restartButton{
    color: white;
    text-decoration:none;
    border:none;
    background-color: #656565;
    padding: 1rem 2rem;
    font-family:Mersad;
    font-size:130%;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin-right:3%;
  }
  .restartButton:active {
      transform: translate(0px,5px);
      -webkit-transform: translate(0px,5px);
  }
  /*RESPONSIVE HEADER*/
  @media screen and (max-width:800px) {

      .titreNav {
        display:none;
      }
      .logoNav{
        width:100px;
      }
      .restartButton{
      }
  }
/* --------------- FIN HEADER  --------------- */

/* --------------- MAIN  --------------- */

/*Titre Level(1,2,3)*/

  .titreLevel{
    text-align: center;
    color:white;
    font-family:Mersad;
    font-size:200%;
  }
/*Tableau*/
  .div3_1{
    display:flex;
    justify-content:center;
    margin-bottom:-20%;
    margin-left:24%;
    margin-right:24%;
  }

  .bgTableau{
    width:100%;
    position:relative;
    border: 1rem solid #403F3F;
    border-radius:20px;
    z-index:1;
  }
  .barreLifeR{
    position:relative;
    width:13%;
    right:-64.5%;
    bottom:83%;
    z-index:50;

  }
  .barreLifeL{
    transform:scaleX(-1);
    position:relative;
    width:13%;
    right:-9.2%;
    bottom:83%;
    z-index:50;

  }
  .perso1{
    position:relative;
    width:10%;
    right:0%;
    bottom:1%;
    z-index:40;
  }
  .perso2{
    transform:scaleX(-1);
    position:relative;
    width:10%;
    right:-26%;
    bottom:1%;
    z-index:40;
  }
  .alertPhone{
    color:white;
    font-family:Mersad;
    font-size:120%;
    display:none;
  }
  .imgAlertPhone{
    width:80%;
    height:80%;
  }

/*Questions*/

  .question{
    text-align:center;
    margin-right:18%;
    margin-left:18%;
    color:white;
    font-family:Mersad;
    font-size:125%;
}


/*BUTTONS REPONSES CHECKBOX*/
.boutonreponse {
visibility:hidden;
}
label {
    color: white;
    border:none;
    background-color:#403F3F;
    padding: 1rem 2rem;
    font-family:Mersad;
    font-size:130%;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin-bottom:2%;
}

/*Image de victoire*/
#imgWin{
  width: 15%;
}
/*Bouton de validation*/

  .valideButton{
    color: white;
    border:none;
    background-color:#403F3F;
    padding: 1rem 2rem;
    font-family:Mersad;
    font-size:130%;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
  }

#laquestion1:hover{
  color:#6297d6;
  cursor:pointer;
}
#laquestion2:hover{
  color:#6297d6;
  cursor:pointer;
}
@media screen and (max-width: 800px) {

  .bgTableau{
    display:none;
  }
  .perso1{
    display:none;
  }
  .perso2{
    display:none;
  }
  .div3_1{
    display:inline-block;
  }
  .alertPhone{
    display:contents;
  }
  .barreLifeL{
    display:none;
  }
  .barreLifeR{
    display:none;
  }
}
/*bouton index*/


