/* @font-face {
    font-family: 'Rajdhani Regular';
    font-style: normal;
    font-weight: regular;
    src: url('../webfont/Rajdhani-Regular.woff') format('woff');
} 
@font-face {
    font-family: 'Rajdhani Light';
    font-style: normal;
    font-weight: light;
    src: url('../webfont/Rajdhani-Light.woff') format('woff');
}
@font-face {
    font-family: 'Rajdhani Medium';
    font-style: normal;
    font-weight: medium;
    src: url('../webfont/Rajdhani-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Rajdhani SemiBold';
    font-style: normal;
    font-weight: semibold;
    src: url('../webfont/Rajdhani-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Rajdhani Bold';
    font-style: normal;
    /* font-weight: bold;
    src: url('../webfont/Rajdhani-Bold.woff') format('woff');
} */

/* Default Navigateur none */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Titre de la page */
h1 {
    font-family: 'Rajdhani SemiBold', sans-serif;
    text-align: center;
    color: black;
    padding: 10px 0;
    margin: 50px 0;
}

/* Card-Container */
.vert {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 128, 0, .3);
    width: 100vw;
    height: auto;
    padding: 30px 0;
    margin-bottom: 50px;
}

/* Card Box*/
.white_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 400px;
    height: 550px;
    background-color: white;
    padding: 20px;
}

.white_box span {
    font-weight: 700;
}

.heads {
    filter: drop-shadow(1px 1px 2px black);
    height: 160px;
}

.talal_img {
    width: 130px;
}

.alexandra_img {
    width: 180px;
}

.salamata_img {
    width: 140px;
    border-radius: 50%;
}

.christian_img {
    width: 120px;
}

/* Card Icons */
.social_icon {
    width: 44px;
    height: 44px;
}

.social_icon:hover {
    filter: drop-shadow(.2px .2px 1px black);
}

/* Images */
.flex_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}