@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');


*{
    box-sizing:  border-box;
}

body{
    background-color: #e9dd3659;
    background-image: linear-gradient(315deg, #b8c6b8 0%,);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    
}
.quiz-container{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 50px,  black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.1);
    width: 800px;
    
    overflow: hidden;
    
}
.quiz-header{
    padding: 1rem;
}
h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}
ul {
     list-style-type: none;
    padding: 0;
}
ul li{
    font-size: 1.5rem ;
    margin: 1.5rem 0;
    margin-left: 50px;
}
ul li label{
    cursor: pointer;
}
button{
    background-color: #4c80f0;
    color: black;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1rem;
    font-size: 30px;
}
button:hover{
    cursor: pointer;
    
}
button:focus{
    outline: none;
    background-color: rgb(24, 201, 68);
}

.displaycontenu{
    display: flex,
}
body {
    -webkit-animation: colorchange 20s infinite;
    animation: colorchange 20s infinite;
  }
  @-webkit-keyframes colorchange {
    0% {
      background: #8ebf42;
    }
    25% {
      background: #e6ebef;
    }
    50% {
      background: #1c87c9;
    }
    75% {
      background: #095484;
    }
    100% {
      background: #d0e2bc;
    }
  }
  @keyframes colorchange {
    0% {
      background: #8ebf42;
    }
    25% {
      background: #e6ebef;
    }
    50% {
      background: #1c87c9;
    }
    75% {
      background: #095484;
    }
    100% {
      background: #d0e2bc;
    }
  }