@font-face {
    font-family: 'Anton';
    src: url(../fonts/Anton-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'Roboto';
    src: url(..fonts/roboto/roboto-regular-webfont.woff);
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format(truetype);
}
//couleur
$primary: #71C8E3;
$secondary: #077294;
//couleur

//couleur
$bl: #71C8E3;
$primary: $bl;
$bln: #077294;
$secondary: $bln;
//couleur
<!-- script java -->      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> <!-- script java -->

.navbar{
    background-color: #077294;
    position: fixed;
    z-index: 100;
}
.containeur{
    background-color: #077294;
    display: flex;
    
    align-items: center;
    width: 100%;  
}
a.nav-link{
    color: #71C8E3;
    --bs-nav-link-hover-color: rgb(194, 231, 255);   
}
ul.navbar-nav{
    justify-content: center;
}
.nav-item{
    margin: 0px 50px 0px 50px;
}
a.navbar-brand{
    width: 10%;
    margin-left: 1%;
}
.testnavbar{
    width: 100%;
}
.logonav{
    width: 20%;
}
.premier_bloc{
    background-color: #71c8e372;
    background-image: url(../img/acc.jpg);
    background-size:cover;
    //background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    height: 20%;
    width: 100%;
    color: #077294;
    text-align: justify;
}
.titre{
    font-family: 'Anton';
    font-size: 70px;
    padding: 10% 0 0 20%;
    text-decoration: dotted;
}
h2{
    padding: 0 0 10% 20%;
    margin: 0;
    font-family: "Poppins";
}
footer{
    background-color: #077294;
    display: flex;
    padding: 5px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.marquee{
    width: 70%;
    height: 150px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 0px 0px 10px #777;
    margin-top: 5%;
  }
.marquee-content {
display: flex;
animation: scrolling 7s linear infinite;
}
.fondcont{
    background-image: url(../img/cf.jpg);
    position: absolute;
    background-size: cover;
    bottom: 0;
    top: 0;
    margin-left: 0;
    margin-right: 0;
  }
.cont{
    text-decoration: underline;
    color: white;
    text-shadow: #000;
    font-size: 300%;
    text-align: center;
  }
.marquee-item {
flex: 0 0 16vw;
}
.marquee-item img {
display: block;
width: 100%;
height: 100%;
}
@keyframes scrolling {
0% { transform: translateX(0); }
100% { transform: translatex(-80vw); }
}
.rejoiniénou{
    width: 100%;
    color: #71C8E3;
    margin-left: 10%;
    margin-top: 18px;
    font-size: 20px;
}
.rejoiniénou:hover{
    color: rgb(194, 231, 255)
}
.rezosocio{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.rezosocio img{
    margin-left: 10px;
    margin-right: 10px;
}
.rezosocio img:hover{
    background-color: #71C8E3;
    border-radius: 20px;
}
.contact{
    background-color: #71C8E3;
}
.bloc_strat{
    
    display: flex;
    margin: 10% 0 5% 0;
}
.elements{
    border-radius: 63%;
    margin: 0 9% 0 9%; 
}
.elements2{
    border-radius: 63%;
    margin: 0 10% 0 10%;
}
.text1{
    background-color: #71c8e372;
    width: 30%;
    margin: 0;
    color: #077294;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: left;
    margin-left: 1%;
    padding-left: 1%;
}
/*Contacte*/
.boutt{
    font-size: 17px;
    font-weight: bold;
    color:#000000;
}
.titreb{
    color: #077294;
    font-family: 'Anton';
    font-size: 70px;
    margin-top: 5%;
}
.titrec{
    color: #077294;
    font-family: 'Anton';
    font-size: 70px;
    margin-left: 5%;
    margin-top: 5%;
}
.text2{
    background-color: #71c8e372;
    width: 30%;
    margin: 0;
    color: #077294;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: right;
    padding-right: 1%;
    margin-right: 1%;
}
.parent {
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
    justify-content: center;
    margin: 20% 0 15% 0;
}
.child1 {
    z-index: 0;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #71C8E3;
}
.child2 {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 300px;
    background: rgb(255, 255, 255);
    color: #077294;
}
.titre_avis{
    font-family: 'Anton';
    margin: 5% 0 5% 0;
}
.txt_avis{
    font-family: 'Poppins';
}
.txt_profil{
    text-align: right;
    margin-right: 10%;
    font-family: 'Poppins';
}
.projetweb{
    text-align: center;
}
.projet{
    color: #077294;
    font-family: 'Anton';
    font-size: 70px;
    margin-bottom: 3%; 
}
.projetxt{
    color: #077294;
    font-family: 'Poppins';
    font-size: 20px;
    margin: 0 30% 0 30%;
    text-align: justify;
    margin-bottom: 3%;
}
.projetbtn{
    border-radius: 20px;
    margin-bottom: 3%;
    border-color: #71C8E3;
    background-color: #077294;
    color: #71C8E3;
    font-family: 'Anton';
    width: 10%;
    padding: 5px 5px 5px 5px;

}
.projetbtn a:hover{
    color: rgb(194, 231, 255)
}

#haut{
    text-align: right;
}
.fleche{
    margin: 0 10px 10px 0;
}
.contt{
    display: flex;
}
.footercontacte{
    background-color: #077294;
    display: flex;
    padding: 5px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    bottom:0;
    position: fixed;
}
.prop{
    background-image: url(../img/clavier.jpg);
    background-repeat: no-repeat;
    margin: 0px;
    position: absolute;
    background-size: cover;
    bottom: 0;
    top: 0;
}
.p-ti{
font-size: 70px;
color: white;
font-weight: bold;
text-align: center;
}
.p-p{
color:white;
}
.p-tex{
margin: 3%;
}

@media screen and (max-width: 1155px) {
    
    .premier_bloc{
        width: 90%;
        background-image: url(../img/acc.jpg);
        margin: auto;
    }
    .titre{
        width: 90%;
        
        margin-left: 0%;
    }
    .premier_bloc h2{
        
        width: 90%;
    }
    .marquee{
        width: 70%;
        height: 70px;
    }
    .marquee-content{
        width: 90%;
        
    }
    .marquee-item img{
        width: 100%;
    }
    .bloc_strat{
        display: block;
        width: 90%;
    }
    .text1{
        width: 90%;
        margin-left: 11%;
    }
    .elements{
        width: 50%;
        margin: 1% 0 0 30%; 
    }
    .titreb{
        width: 90%;
        text-align: center;
        margin-left: 11%;
        margin-top: 10px;
    }
    .titrec{
        width: 90%;
        text-align: center;
        margin-left: 11%;
        margin-top: 10px;
    }
    .elements2{
        width: 50%;
        margin: 0 0 0 30%; 
    }
    .text2{
        width: 90%;
        text-align: center;
        margin-left: 11%;
        margin-top: 10px;
    }
    .projetxt{
        width: 90%;
        margin: 0 auto;
    }
    .projetbtn{
        width: 90%;
    }
    .rejoiniénou{
        width: 90%;
    }
    .rezosocio{
        width: 90%;
    }
    .rezosocio a{
        width: 90%;
    }
}


//--------------------------------------------------------\/-Equipe
.carcolors{
    color:#000;
    font-weight: bold;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .carimg{
    width: 100%;
    color:#000;
  }
  .carou {
    margin-bottom: 4rem;
  }
  .carousel-caption {
    height: 22%;
    bottom: 3rem;
    z-index: 40;
  }
  .carousel-item {
    height: 40rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  .featurette-divider {
    margin: 5rem 0; 
  }
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
//--------------------------------------------------------/\-Equipe

@import "../node_modules/bootstrap/scss/bootstrap.scss"