//Index------------------------------------------------------
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.row {
    --bs-gutter-x: 0rem;
  }
.index{
 color: black;
 background-repeat: no-repeat;
 background-size: auto;
 background-image: url(../img/Index.jpg);
}
.i-h1{
 margin-top: 50px;
 text-align: center;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 300;
 font-size: 64px;
 line-height: 77px;
 color: #DCD415;
}
.pp{
 margin-top: 10px;
}
.ppFiddlestick{
 margin-left: 15px;
 margin-right: 15px;
}
.pi{
margin-top: 50px;
width: 1440px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 44px;
text-align: center;
color: #DCD415;
}
//Index------------------------------------------------------
//Ziggs------------------------------------------------------
.ziggs{
    background: linear-gradient(#000000, #4b1a1a);
}
.Z-Bar{
    position: relative;
    text-align: center;
    color: white;
}
.z-h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    color: #DCD415;
    position: relative;
    text-align: center;
}
.Zp-h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-size: 50px;
    line-height: 1%;
    color: #DCD415;
    position: relative;
    text-align: center;
}
.Z-title{
    position: absolute;
    top: 10%;
}
.Z-para{
    text-align: center; 
    color:#FFFEE0;
    font-size: 18px;
}
.Z-btn{
    text-align: center;
    text-shadow: #4b1a1a;
}
.Z-audio{
    position: absolute;
    margin-left: 100px;
}
//Q1---------------
.Q-Ziggs{
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Ziggs2.jpg);
    background-position-x: center;
}
.Z-Q-h1{
    margin-top: 230px;
    text-align: center;
    font-family: 'Inter';
    font-size: 50px;
    line-height: 1%;
    color: #fdefe7;
    position: relative;
    text-align: center;
}
.Z-Q-p{
    margin-top: 70px;
    text-align: center;
    font-family: 'Inter';
    font-size: 40px;
    line-height: 1%;
    color: #fbfbfb;
    position: relative;
    text-align: center;
}
.dq{
    margin-top: 50px;
}
.R1{
    font-size: 35px;
}
.R2{
    font-size: 35px;
    margin-left: 50px;
    margin-right: 50px;
}
.R3{
    font-size: 35px;
}
.Ques1{
    display: contents;
}
.Ques2{
    display: none;
}
.Ques3{
    display: none;
}
.Ques4{
    display: none;
}
.Final{
    display: none;
}
//Q1---------------
//Ziggs------------------------------------------------------
//Fiddlesticks-----------------------------------------------
.Fiddlesticks{
    background: linear-gradient(#000000, #313030);
}
.F-Bar{
    position: relative;
    text-align: center;
    color: white;
}
.F-h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: calc(43.27px + 2.12vw);
    line-height: 77px;
    color: #c8c8c8;
    position: relative;
    text-align: center;
}
.Fp-h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-size: 50px;
    line-height: 1%;
    color: #c8c8c8;
    position: relative;
    text-align: center;
}
.F-title{
    position: absolute;
    top: 10%;
}
.F-para{
    text-align: center; 
    color:#FFFEE0;
    font-size: 18px;
}
.F-btn{
    text-align: center;
    text-shadow: #4b1a1a;
}
.F-audio{
    position: absolute;
    margin-left: 100px;
}
//Q1------------------
.Q-Fiddlesticks{
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Fiddlesticks2.jpg);
}
.F-Q-h1{
    margin-top: 230px;
    text-align: center;
    font-family: 'Inter';
    font-size: 50px;
    line-height: 1%;
    color: #DBD782;
    position: relative;
    text-align: center;
}
.F-Q-p{
    margin-top: 70px;
    text-align: center;
    font-family: 'Inter';
    font-size: 40px;
    line-height: 1%;
    color: #DBD782;
    position: relative;
    text-align: center;
}
.fdq{
    margin-top: 50px;
}
.vfdq{
    margin-top: 20px;
}
//Q1------------------
//Fiddlesticks-----------------------------------------------
//Viego------------------------------------------------------
.Viego{
    background: linear-gradient(#71b0af, #000000);
}
.V-Bar{
    position: relative;
    text-align: center;
    color: white;
}
.v-h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: calc(43.27px + 2.12vw);
    line-height: 77px;
    color: #ffffff;
    position: relative;
    text-align: center;
}
.Vp-h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-size: 50px;
    line-height: 1%;
    color: #ffffff;
    position: relative;
    text-align: center;
}
.V-title{
    position: absolute;
    top: 10%;
}
.V-para{
    text-align: center; 
    color:#FFFEE0;
    font-size: 18px;
}
.V-btn{
    text-align: center;
    text-shadow: #4b1a1a;
}
.V-audio{
    position: absolute;
    margin-left: 100px;
}
//Viego------------------------------------------------------
.correcte{
    background: rgb(91, 193, 91)
}
.incorrecte{
    background: rgb(99, 17, 17)
}
.confirm{
    margin-top: 30px;
}
.active {
    background-color: green;
  }
//---------------------------
  main .menu .button.selected{
    background-color: #56d42d;
    color: #000
  }
  
  @media (min-width: 650px) {
   main Quest1 .button:hover {
     background-color: #56d42d;
     color: #000  
    }
  }
  
  @media (max-width: 650px) {
    main .menu .button{
      display: block;
    }
          }