$primary: #9F73A7 !default;
$secondary: #4D0E58 !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:none;
  }
  .img_monkey1{
    background-image: url("../images/monkeyIsland1.jpg");
  }
  .img_monkey2{
    background-image: url("../images/monkey.jpg");
  }
  .img_monkey3{
    background-image: url("../images/monkey3.jpg");
  }
.bg-tercery{
    background-color: #D9D9D9;
    opacity:0.7;
  }
  .etoile{
    margin: auto;
    width:50%;
    max-width: 360px;
    height:auto;
    min-height:300px;

    background-image: url("../images/etoile.png");
    background-repeat: no-repeat;
    background-size: contain;
    position:relative;

    .content{
      position:absolute;
      top:30%;
      left:0;
      right:0;
      p,h2{
        text-align: center;
      }
    }

  }
  