@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/* pop curseur */
.pop{
    position: absolute;
    top: 70%;
    left: 70%;
    width: 5%;
    transition: all 0.5s;
    overflow: hidden;
    z-index: 1;
}

/* accueil */
.p1{
    background-image: url("src/cine2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    text-align: center;
    overflow: hidden;
}
.pp1{
    background-color: rgba(255, 255, 255, 0.699);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    width: 70%;
    padding: 5px;
    margin: auto;
    margin-top: 5%;
}
.cinemaccueil{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    width: 25%;
    padding: 1%;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
.cinemaccueil:hover{
    color: rgb(255, 115, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 115, 0);
    cursor: pointer;
}

/* Q1 */
.p2{
    background-image: url("src/cine.jpg");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}
#ecran{
    position: absolute;
    top: 0%;
    left: 9%;
    width: 80%;
    height: 60%;
}
.txt1{
    margin-top: 35%;
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 40%;
    margin-left: 30%;   
}
.cinema1{
    width: 20%;
    padding: 1%;
    margin: 0% 4% 0% 4%;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
.cinema1:hover{
    color: rgb(255, 115, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 115, 0);
    cursor: pointer;
}

/* Q2 */
.p3{
    background-image: url("src/western2.jpg");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}
.txt3{
    
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    border-radius: 20px;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    width: 45%;
    margin:auto;
    margin-top: 35%;
    margin-bottom: 5%;
}

/* Q3 */
.Q3{
    background-image: url("src/les_visiteurs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    text-align: center;
}
.pq3{
    
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 70%;
    margin: auto; 
    margin-top: 2%;
}
.cinema3{
    width: 25%;
    padding: 1%;
    margin: 40% 4% 0% 4%;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
.cinema3:hover{
    color: rgb(255, 115, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 115, 0);
    cursor: pointer;
}

/* Q4 */
.Q4{
    background-image: url("src/cine.jpg");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}
.txtpf{
    
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 70%;
    margin: auto;   
    margin-top: 38%;
    margin-bottom: 5%;
}
.cinemapf{
    width: 25%;
    padding: 1%;
    margin: 0% 4% 0% 4%;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
.cinemapf:hover{
    color: rgb(255, 115, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 115, 0);
    cursor: pointer;
}

/* Q5 */
.txt2{
    
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 80%;
    margin: auto;  
    margin-top: 35%;
    margin-bottom: 2%; 
}

/* Q6 */
.pk{
    background-image: url("src/killbill.webp");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}

/* Q7 */
.p4{
    background-image: url("src/gram.jpg");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}
.song{
    display: none;
}

/* Q8 */
.pj{
    background-image: url("src/Jack.webp");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}
.pj4{
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 35%;
    margin: auto;
    margin-top: 2%;
}
.cinemajn{
    width: 28%;
    padding: 1%;
    margin: 42% 2% 0% 2%;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
.cinemajn:hover{
    color: rgb(255, 115, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 115, 0);
    cursor: pointer;
}

/* Q9 */
.pc{
    background-image: url("src/ca.jpg");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}
.cinema4{
    width: 20%;
    padding: 1%;
    margin: 42% 4% 0% 4%;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
.cinema4:hover{
    color: rgb(255, 115, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 115, 0);
    cursor: pointer;
}
.pca{
   
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-top: 2%; 
}

/* Q10 */
.txtb{
    
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 50%;
    margin: auto;
    margin-top: 35%;     
}
.cinemab{
    width: 24%;
    padding: 1%;
    margin: 5% 4% 0% 4%;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
.cinemab:hover{
    color: rgb(255, 115, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 115, 0);
    cursor: pointer;
}

/* Q1S */
.mib{
    background-image: url("src/mib.webp");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}
.txtmib{
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 1%;  
    margin-bottom: 35%;
}

/* Q2S */
.txthp{
    
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 60%;
    margin: auto; 
    margin-top: 35%;
}

/* Q3S */
.txtg{
    
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 100%;
    margin: auto; 
    margin-top: 36%;
}
.cinemag{
    width: 15%;
    padding: 1%;
    margin: 2% 1% 0% 1%;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
.cinemag:hover{
    color: rgb(255, 115, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 115, 0);
    cursor: pointer;
}

/* Q4S */
.pt{
    background-image: url("src/titanic.webp");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}
.cinemat{
    width: 25%;
    padding: 1%;
    margin: 33% 4% 0% 4%;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
.cinemat:hover{
    color: rgb(255, 115, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 115, 0);
    cursor: pointer;
}


/* Q5S */
.ps{
    background-image: url("src/sam.jpg");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
    background-repeat: no-repeat;
}
.psam{
   
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 2%; 
}

/* Q1I */
.avat{
    background-image: url("src/avatar.jpg");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}
.tav{
   
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 100%;
    margin: auto;
    margin-top: 2%; 
}

/* Q2I */
.sw{
    background-image: url("src/sw.jpg");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}
.psw{
   
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-top: 2%; 
}

/* Q4I */
.qt{
    background-image: url("src/qt1.webp");
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
}
.tqt{
   
    color: rgb(255, 255, 255);
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    width: 60%;
    margin: auto;
    margin-top: 2%; 
}

/* Q5I */

.cinemapirate{
    width: 27%;
    padding: 1%;
    margin: 5% 2% 0% 2%;
    font-family: 'Kanit', sans-serif;
    font-size: 28px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}
.cinemapirate:hover{
    color: rgb(255, 115, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 115, 0);
    cursor: pointer;
}





