body{
    height: 100vh;
}

// Fonction qui retourne deux valeurs ajoutées l'une à l'autre
@function add($a, $b){
    @return $a + $b;
}

// NESTING
#exempleNesting{
    background-color: variables.$couleurPrincipale;
    .nav {
        width: 100px;
        background-color: variables.$couleurSecondaire;
        li{
            font-size: 40px;
            // Premier enfant de type <li>
            // & est : https://sass-lang.com/documentation/style-rules/parent-selector
            &:first-child{
                color:white;
            }
        }
    }
}

// Boîte externe qui se positionne au centre de son élément supérieur avec le mixin positionner
// et aligne ses éléments internes avec le placeholder flexMilieu
// d'une hauteur et largeur selon la variable $tailleBoxExterne
.boxExterne {
    @include positionner(variables.$couleurSecondaire);
    @extend %flexMilieu;
    width: variables.$tailleBoxExterne;
    height: variables.$tailleBoxExterne;
}

// Boîte interne qui calcule sa hauteur grâce à la fonction add()
// dont on change l'attribut background-color grâce au mixin changerAttribut()
.boxInterne {
    width: variables.$tailleBoxInterne;
    height: add(50px, 50px);
    @include changerAttribut(background-color, variables.$couleurPrincipale);
}

// Titre
.titre {
    margin-left: 20%;
    color: variables.$couleurPrincipale;
}

// Sous-titre qui hérite des propriétés de titre
.sous-titre {
    @extend .titre;
    color: variables.$couleurSecondaire;
}

// Include des enfants
.parent {
    font-family: 'Rubik Gemstones', cursive;
    @include enfants('.enfant1', '.enfant2', '.enfant3')
}

.boxAbsolute{
    width: 200px;
    height: 200px;
    background-color: aqua;
    @include absolute-el(100%, 0, 0, 100%, -100%, -100%);
}

// .boxPseudo{
//     width: 100px;
//     height: 100px;
//     background-color:chartreuse;
//     @include pseudo-el(inline, absolute, "test");    
// }

.monContenu1 {
    background-color: darkgreen;
    height: 100px;
}
.monContenu2 {
    @extend .monContenu1;
    background-color: lightgreen;
}
.monContenu3 {
    @extend .monContenu1;
    background-color: greenyellow;
}
.monContenu4 {
    @extend .monContenu1;
    background-color: yellow;
}