/************************************************************************
** MIXINS, c'est à dire les éléments réutilisables avec des paramètres ** 
**         https://sass-lang.com/documentation/at-rules/mixin          **
**       (déclaration avec @mixin et utilisation avec @include)         **
************************************************************************/

// Pour changer la $valeur d'un $attribut
@mixin changerAttribut($attribut, $valeur){
    #{$attribut} : $valeur;
}

// Pour centrer un élément de manière absolue
@mixin positionner($fond, $x:50%, $y:50%){
    position: absolute;
    left: $x;
    top: $y;
    transform: translate(-$x, -$y);
    background-color: $fond;

    @if $fond != variables.$couleurPrincipale
    {
        border-radius: 50%;
    }
}

// Pour parcourir des enfants
@mixin enfants($desc...) {
    @for $i from 0 to length($desc){
        // nth permet de cibler les éléments fils d'un élément
        // dont les positions correspondent au motif an+b
        // nth-child(4n) = 4, 8, 12, 16...
        // nth-child(even) = pair ou nth-child(odd) = impair
        #{nth($desc, $i + 1)} {
            // On augmente la taille à chaque tour
            font-size: 20px + $i * 10;  
            // On peut faire un debug 
            @debug "Index courant : " + $i;     
            // Ou un test    
            @if $i > 1 {
                // qui affiche un avertissement
                @warn "Limite d'enfants dépassée";
            }
            @if $i > 2 {
                // qui affiche une erreur (ça arrête le code)
                @error "Game Over";
            }
        }
    }
}

@mixin absolute-el ($top, $right, $bottom, $left, $x, $y) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x, $y);
}

@mixin pseudo-el ($display:block, $pos:absolute, $content:'') {
    content: $content;
    display: $display;
    position: $pos;
}