/*TITRE*/
.titre {
  font-family: Nunito;
  font-weight: bolder;
  font-size: 250%;
  color: #555555;
  text-decoration: none;
}
/*SOUSTITRE*/
.soustitre {
  font-family: Nunito;
  font-size: 150%;
  color: #555555;
  text-decoration: none;
}
/*TEXTE*/
.texte {
  font-family: Nunito;
  font-weight: lighter;
  font-size: 125%;
  color: #555555;
  text-decoration:none;
}

/*NAVBAR*/
.navbar {
  background-color: #d9e4dd;

}
.textnavbar{
  justify-content:center;
  justify-content:space-between;
  padding-right:15%;
  margin-left:15%;
}

/*FOOTER*/
.footer {
  background-color: #cdc9c3;
}

.footertext {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
}
.footerimg {
  display: flex;
  flex-direction: row;
}
/*PAGE EQUIPE*/
.containerequipe{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}

/*BOUTON NAVBAR*/
.boutonNav {
  list-style-type: none;
  display: inline;
  margin-right: 4%;
}
#titre1 {
  margin-top: 5%;
}
#titre2 {
  margin-top: 5%;
  text-align: center;
}

#bouton1 {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  background: #6e6d70;
  color: #dfdedf;
}
#bouton2 {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  background: #6e6d70;
  color: #dfdedf;
}

.middlecontent{
  text-align: center;
}

.image{
  margin-bottom: 2%;
}
.imgM {
  margin: 5%;
}


$primary:    #D9E4DD;   /* blue de la barre nav */
$secondary:  #FBF7F0;   /* beige fond ecran */
$success:  #CDC9C3;     /* gris clair footer */
$danger:    #555555;    /* gris fonce texte */




@import "../node_modules/bootstrap/scss/bootstrap.scss";

