body {
    color: rgb(3, 247, 80);
    /* monospace pour que chaque caractère prennent le même espace */
    font-family: IBM Plex Mono, monospace;
    background: #060606;
    padding: 50px;
}
.btn{
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1;
}
/* @media screen and (max-width: 1920px) {
    
} */
.snow{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: url(pnoel.jpg);
}
.snow__layer {
    position: absolute;
    left: -100px;
    right: -100px;
    /* alternate= une fois qu'il est aller à droite il revient à gauche */
    /* aller dans l'inspecteur, cliquez sur linear est modifié la courbe pour que l'animation soit moins brutale et copier coller les données de la courbe de béziers */
    animation: wind 7s cubic-bezier(0.51, 0.24, 0.43, 0.74) infinite alternate;
    /* pour rapprocher les flocons de l'écran avec le translateZ */
    perspective: 100px;

}
/* après la div snow, affichage flocons (::after) */
.snow__layer::after {
    content:'';
    position: absolute;
    background: url(s1.png);
    top: 0;
    left: 0;
    right: 0;
    height: 2000px;
    animation: falllight 20s linear infinite;
    transform: translateZ(50px);
}
.snow__layer:nth-child(1) {
    animation-duration: 10s;
}
.snow__layer:nth-child(1)::after {
    background: url(s3.png);
    transform: translateZ(10px);
    animation-name: fall_blur;
}
.snow__layer:nth-child(2) {
    transform: translateX(-50px);
}
.snow__layer:nth-child(2)::after {
    background: url(s2.png);
    animation: falllight 10s linear infinite;
}
/* .snow {
    &__layer {
      position: absolute;
      left: -100px;
      right: -100px;
      animation: wind 7s cubic-bezier(0.51, 0.24, 0.43, 0.74) infinite alternate;
      perspective: 100px;
    
      &::after {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2000px;
        transform: translateZ(50px);
  
        &:nth-child(1) {
          animation-duration: 10s;
        }
        &:nth-child(1)::after {
          transform: translateZ(10px);
          animation-name: fall_blur;
        }
        &:nth-child(2) {
          transform: translateX(-50px);
        }
        &:nth-child(2)::after {
          animation: falllight 10s linear infinite;
        }
      }
    }
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: url(pnoel.jpg);
} */
/* faire tomber les flocons */
@keyframes fall {
    from {
        transform: translateY(-1080px);
    }
}
@keyframes falllight {
    from {
        transform: translateY(-1080px) translateZ(50px);
    }
}
@keyframes wind {
    to {
        transform: translateX(30px);
    }
}
@keyframes fall_blur {
    from {
        transform: translateY(-1080px) translateZ(10px);
    }
}
.typewriter-container {
    display: flex;
    justify-content: flex-start;
}

.instructions{
    position: absolute;
    left: 35%;
    top: 40%;
    animation: typing_2 5s steps(150); 
    /* overflow hidden permet de cacher les éléments qui dépasse */
    overflow:hidden;
    /* white-space nowrap pour ne pas que ça passe à la lignr */
    white-space: nowrap;
}
@keyframes typing_2 {
    from {width:0}
    to {width:90%;}
}
.typewriter {
    background-color: black;
    font-size: 35px;
    /* overflow hidden permet de cacher les éléments qui dépasse */
    overflow:hidden;
    /* white-space nowrap pour ne pas que ça passe à la lignr */
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left:25%;
    /* steps(24) c'est le nombre de caractère en comptant les espaces */
    animation: typing 4s steps(30);   
}

@keyframes typing {
    from {width:0}
    to {width:90%;}
}

input[type="submit"]{
    display: none;
}

/* input[type="text"]{
    background-color: #000000;
    border: #000000;
} */

.error p{
    display:none;
}


