@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(3, 247, 80);
    font-family: 'IBM Plex Mono', monospace;
}
body{
    background: black;
}
.chat-body{
    height: 300px;
    display: flex;
    margin: 10% 0 0 5%;
    /* pour que les messages s'affichent en colonne */
    flex-direction: column;
    overflow-y: auto;
    
}
.chat-input{
    position:absolute;
    top: 90%;
    width: 90%;
    margin: 0 5% 0 5%;
    
    
}
.send img{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 84%;
    left: 90%;

}
#txtInput{
    /* line-height: 30px; */
    padding: 8px 10px;
    border: none;
    width: 100%;
    color: black;
    font-family: 'IBM Plex Mono', monospace;
}

.user-message {
    /* css pour les réponses utilisateurs */
    color: rgb(255, 140, 0);
    margin: 2% 0 2% 0;
    
}

.chatBot-message{
    /* animation: typing_2 5s steps(150);  */
    /* overflow hidden permet de cacher les éléments qui dépasse */
    /* overflow:hidden; */
    /* white-space nowrap pour ne pas que ça passe à la lignr */
    /* white-space: nowrap; */

}
/* @keyframes typing_2 {
    from {width:0}
    to {width:90%;}
} */
