html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: url("../img/santa-gift2.png") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    height:100%;
}

.titre {
    display: flex;
    flex-direction: column;
    float: right;
    color: #f5e8c9;
    margin: 50px;
}

h2 {
    margin-left: 65px;
}

.btn {
    cursor: pointer;
    border-radius: 100px;
    height: 100%;
    width: 100%;
    font-weight: bold;
    padding: 14px 20px;
    font-size: 20px;
}

/* .btn-start, .btn-next, .btn-prev { */
    .btn-start, .btn-prev, .btn-quiz, .btn-restart {
    color: #f5e8c9;
    box-shadow: 0 2px 10px #8b94c1;
    border: 0;
    background: #b63c32;
    max-width: 175px;
    margin: 90px;
}

.quiz-header {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #584165;
}

.quiz-head_hint {
    font-size: 24px;
    font-weight:bolder;
    margin-left: 60px;
}

.quiz-body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
    background-color: white;
    max-width: 90%;
    max-height: 90%;
}

.form_fieldset {
    border: 0;
}

.form_title {
    font-weight: bold;
    text-align: center;
    margin: 40px;
    font-size: 20px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    font-weight: bold;
}

.choice-first {
    cursor: pointer;
}

.f-choice {
    height: 130px;
}

/* .btn-next {
    float: right;
    max-width: 110px;
    margin-top: 50px;
} */

.btn-prev {
    float:right;
    max-width: 60px;
    margin-top: 50px;
}

.quiz-footer {
    float: left;
}

.quit {
    text-align: center;
}

.position {
    display: flex;
    flex-direction: row;
}

.level-position {
    margin: 65px;
}

.quiz-content {
    display: flex;
    justify-content: space-around;
}

.btns-choice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-quiz {
    max-width: 210px;
    justify-content: space-around;
    max-height: 80%;  
    margin: 20px;
    background: #8272a7;
}

.quest2-pic {
    max-width: 200px;
}

.btn-q-2 {
    max-width: 150px;
    margin: 10px;
    max-height: 70px;
}

/* .quest3-pic {
    max-width: 200px;
} */

.btn-q-5, .btn-q-6 {
    max-width: 200px;
    margin: 10px;
}

.quest6-pic {
    max-height: 220px;
}

.btn-restart {
    max-width: 200px;
    margin: 10px;
    max-height: 70px;
    float: right;
}