body {
    font-family: comic;
    padding-top: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}


.bg_purple {
    display: flex;
    justify-content: center;
    background-color: #8B80B6;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    height: 65vh;
    width: 100%;
    padding-top: 5px;
}

.box1 {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 20px;
    width: 60%;
    height: 80%;
    text-align: center;
    align-content:center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.titre1 {
    color: #F2C37E;
    font-size: 30px;
}

.contenu1 {
    font-size: 20px;
    margin-left: 20px; margin-right: 20px;
    color: #8B80B6;

}

@media (max-width: 700px) {
    .box1 {
      width: 90%;
    }
  }

.big_box2 {
}

.box2 {
    position: relative;
    top: -80px;
    left: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    height: 150px;
    width: 60%;
    color: #8B80B6;
    border: #8B80B6 solid 2px;
}

.quiz {
    font-size: 30px;
    align-self: center;
}

.bg_white {
}

.box_choix {
    display: flex;
    justify-content: space-evenly;
}

.button1, .button2 {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    border-radius: 25px;
    font-weight: bold;
    background-color:#8B80B6;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    width: 30vh;
    height: 8vh;
    text-align: center;
    justify-content:space-around;
}

@media (max-width: 700px) {
    .box2 {
        position: relative;
        top: -80px;
        left: 5%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-content: center;
        border-radius: 25px;
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        height: 150px;
        width: 90%;
        margin-bottom: 20px;
    }
  }

.button2:hover,.button1:hover {
    background-color:black;
    color: #8B80B6;
    border-color:#8B80B6 ;
    transition: 0.3s;
}