
//pageindex


@import "../node_modules/bootstrap/scss/bootstrap.scss";

h4{
    margin-top: 40px;
    margin-left: 20px;
}
.clickstart{
    font-size: 50px;
}



.clickstart:hover{
    color: red;
    border-radius: -10;
}
