$primary:       #196F75 !default;
$secondary:     #93B7B9 !default;

header {
    font-size: 28px;
    display: flex;
    flex-direction: row
}

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');

/* Tu veux appeler la police sono ? Tape ça dans ton custom : font-family: 'Sono', sans-serif; */


@import "../node_modules/bootstrap/scss/bootstrap.scss"; 

