
$theme-colors:(
'primary':       #196F75,
'secondary':     #93B7B9,
'sucsess':       #D9D9D9,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
);

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');

/* Tu veux appeler la police sono ? Tape ça dans ton custom : font-family: 'Sono', sans-serif; */


@import "../node_modules/bootstrap/scss/bootstrap.scss"; 

header {
    font-size: 25px;
    display: flex;
    flex-direction : row;
}

@font-face {font-family: 'Nunito_Sans'; src: url(Nunito_Sans.ttf) format(truetype); }


body{
    background-color: #D9D9D9;
    color: black;
}

footer{
    flex-direction: row;
    display: flex;
    color: #D9D9D9;
    margin: 0;
    color: primary;

}
fieldset {
    min-width: 10;
    padding: 2;
    margin: 10;
    border: 1;
    border-radius: 10;
  }

.form-check-label{
    font-size: 10px;
}

#map-container-google-1{
    justify-content: center;
}

.map{
    display: flex;
    align-self: start;
}

.img{
    align-self: center;
}
.Site Web{
    width: 20px;
    text-decoration: none;
    color: black;
  }

.logo{
    display: flex;
    align-items : inline;
    text-align: left;
    margin: auto;
  }

.center{
    text-align: auto;
    display: flex;
    margin: auto;
    font-size: medium;
    justify-content:space-around;
    align-items: left;
  }

.end{
    display:flex ;
    font-size: small;
    flex-direction: column;
    align-items: flex-start;
    justify-self: start;
  }

h1, p{
    text-align: center;
    vertical-align: center;
}

h1 , header, body , footer{
    font-family: 'sono', sans-serif;
}
a{
    text-decoration: none; 
    color: black;
}
