$primary:       #196F75 !default;
$secondary:     #93B7B9 !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss"; 

body { 
    font-family: 'Sono', sans-serif;
}


header {
    font-size: 150%;
}


.img_back {
    background-position: center left;
    background-repeat: no-repeat;
    margin-top: 1%;
    height: 100%;
    max-width:100%;
    max-height:100%;
    font-size: 12px;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 25px 25px 25px 25px;
    min-height : 35vw;
    min-width : 100%;
}

.big-box {
    margin: 0.5% 0.5% 0.5% 0.5%;
    border-radius: 25px 25px 25px 25px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.text_valeur{
    background-color: rgba(147, 183, 185, 0.7);
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.espace {
    height: 5vw;
    width: 100%;
}

.text_societe{
    background-color: rgba(147, 183, 185, 0.7);
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.text_mission{
    background-color: rgba(147, 183, 185, 0.7);
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

/*footer { display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
}*/

footer{
    flex-direction: row;
    color: #D9D9D9;
    margin: 0;
    font-weight: bolder;
}


@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap')
/* Tu veux appeler la police sono ? Tape ça dans ton custom : font-family: 'Sono', sans-serif; */

