 * {
    box-sizing: border-box;
 }

 body, html {
    line-height: 1.4;
    font-size: 20px;
    margin: 0;
 }
 
 form {
   background-color: darkcyan;
   margin: 20px auto;
   padding: 10px 20px 10px 10px;
   width: 300px;
   border-radius: 15px;
   box-shadow: 5px 5px 5px black;
   text-align: center;
 }

 input {
   width:100%;
   height: 105px;
   margin-bottom: 10px;
 }

 .btn {
   /* display: none; */
   margin: 10px auto;
   width: 150px;
 }

 .bt {
  width: 100px;
  height: 75px;
  margin: 10px auto;
 }


.bgQ1 {
  background-image: url("")
}

.bgQ2 {
  background-image: url("")"
}
.bgQ3 {
  background-image: url("");
}

/* .jpeg {
  display: none;
} */

/* .n {
  display: none;
}

.src {
  display: none;
}

.picture {
  display: none;
} */