@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


:root {
	background-color: rgb(255,255,255)
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-family: 'Nova Square', cursive;
}

h1 {
	font-size: 5.4rem;
	color: rgb(0,0,0);
	margin-bottom: 5rem;
}


h2{
	font-size: 4.2rem;
	margin-bottom: 4rem;
}

.container {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
max-width: 80rem;
margin: 0 auto;
padding: 2rem;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.justify-center {
	justify-content: center;	
}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
}

.btn {
	font-size: 2.4rem;
	padding: 2rem 0;
	width: 30rem;
	text-align: center;
	margin-bottom: 1rem;
	text-decoration: none;
	color: rgb(28,26,26);
	background: linear-gradient(90deg, rgb(18,92,255) 0%, rgb(0,102,255) 100%);
	border-radius: 4px;

}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(8,114,244,0.6);
	transition: transform 150ms;
	transform: scale(1.03);
}

.btn[disabled]:hover  {
	cursor: not-allowed;
	box-shadow: none;
	transform: none;

}


#highscore-btn { 
background: linear-gradient(90deg, rgb(255,247,9) 0%, rgb(240,221,6) 100%);

}
#highscore-btn:hover {

	box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}

.fa-crow  {
	font-size: 2.5rem;
	margin-left: 1rem;
}

