<div class="marquee">
    <div class="marquee-content"> 
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=01" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=02" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=03" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=04" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=05" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=06" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=07" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=08" alt="">
      </div>
      
      
      
      
      
      
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=01" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=02" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=03" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=04" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=05" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=06" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=07" alt="">
      </div>
      
      <div class="marquee-item">
        <img src="https://via.placeholder.com/600/000000/FFFFFF/?text=08" alt="">
      </div>
    </div>
  </div>